<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POC</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="ratchet.css" rel="stylesheet">

    <script src="ratchet.js"></script>
  </head>
  <body>

    <header class="bar bar-nav">
      <h1 class="title">Welcome</h1>
    </header>

    <div class="content">
		<p class="content-padded">Hello {{ login }}!</p>	
		<p class="content-padded">This is just a test</p>
		<p class="content-padded"><a href="itms-services://?action=download-manifest&url=http://follow-web-to-app.herokuapp.com/manifest.plist" class="btn btn-primary btn-block">Install the app</a></p>
		<br /><br />
		<p class="content-padded"><a class="btn btn-link" href="/logout" >Logout</a></p>
    </div>
  </body>
</html>