<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POC</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="ratchet.css" rel="stylesheet">

    <script src="ratchet.js"></script>
  </head>
  <body>

    <header class="bar bar-nav">
      <h1 class="title">New account</h1>
    </header>
    <div class="content">
		
		<form action="" method="post">
			<p class="content-padded">Login: <input type="text" name="login" /></p>
			<p class="content-padded">Password: <input type="password" name="password" /></p>
			<p class="content-padded"><input class="btn btn-primary btn-block" type="submit" value="Signup" /></p>
		</form>
    </div>
  </body>
</html>